<h1>Me As A Ruby on Rails Developer</h1>

<%= link_to "Home", root_path, class: "btn btn-lg btn-primary" %>
<%= link_to privacy_policy_path, class: "btn btn-lg btn-warning" do %>
<i class="bi bi-file-earmark-pdf"></i>
Privacy Policy
<% end %>
