<div class="row mt-3 mb-3">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Ruby on Rails Application</h5>
        <p class="card-text">This App showcases how to use authentication in Ruby on Rails.I used Devise, Bootstrap
        jsbundling and more. The app is scalable. Postgres is used for the database to store the data</p>
        <%= link_to "All Users", users_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body text-center">
        <h5 class="card-title">Using this app to get full potential</h5>
        <p class="card-text">You wont see the users unless you sign up and activate your account for free.
        I have include some of the sights I have worked on.You will get confirmation email once you sign up.</p>
        <%= link_to "Let's get started", users_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4 mb-2">
  <div class="col">
    <div class="card">
      <img src="images/todolist.png" class="card-img-top" alt="To do app">
      <div class="card-body text-center">
        <h5 class="card-title">To Do List App</h5>
        <p class="card-text">Light App using vanilla javascript showcasing DOM manipulation with the mouse movement
        something that can be implemented in the game for kids.</p>
        <a href="https://fredbanda.github.io/scheduler/" class="card-link text-decoration-none text-primary">Visit the website here: <i class="bi bi-eye-fill"></i></a>
        <a href="https://github.com/fredbanda/scheduler" class="card-link text-decoration-none text-primary">Github Code here: <i class="bi bi-github"></i></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/jetsetter.jpg" class="card-img-top" alt="Jetsetter">
      <div class="card-body text-center">
        <h5 class="card-title">Jetsetter</h5>
        <p class="card-text">An app witten in javascript with React Framework. Different React 
        Hooks were used here.Redux and more tech was showcased. The app is showing the MERN and CRUD </p>
              <a href="https://jetsetter.onrender.com/" class="card-link text-decoration-none text-primary">Visit the website here: <i class="bi bi-eye-fill"></i></a>
        <a href="https://github.com/fredbanda/jetsetters-MERN" class="card-link text-decoration-none text-primary">Github Code here: <i class="bi bi-github"></i></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/cryptolane.png" class="card-img-top" alt="Cryptolane">
      <div class="card-body text-center">
        <h5 class="card-title">Cryptolane</h5>
        <p class="card-text">Web3 is bringing massive opportunities for digital business as now we are going fully into
        paperless payment. Here I showcase my versatility of techs that I use. Check it out with metamask</p>
        <a href="https://cryptolane.netlify.app/" class="card-link text-decoration-none text-primary">Visit the website here: <i class="bi bi-eye-fill"></i></a>
        <a href="https://github.com/fredbanda/cryptolane" class="card-link text-decoration-none text-primary">Github Code here: <i class="bi bi-github"></i></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/youtube.png" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">YouTube Video Aggregator</h5>
        <p class="card-text">Discover endless YouTube content effortlessly! Our aggregator curates the best videos, tailored to your interests. 
        Say goodbye to endless scrolling, and hello to personalized, quality entertainment. Try it now!.</p>
        <a href="https://fredbandaportfolio.netlify.app/" class="card-link text-decoration-none text-primary">Visit the website here: <i class="bi bi-eye-fill"></i></a>
        <a href="https://github.com/fredbanda/portfolio" class="card-link text-decoration-none text-primary">Github Code here: <i class="bi bi-github"></i></a>
      </div>
    </div>
  </div>
</div>