<div class="card">
<h1 class="text-center text-decoration-underline">Our Privacy Policy</h1>


<p>Account means a unique account created for You to access our Service or parts of our Service.
Business, for the purpose of the CCPA (California Consumer Privacy Act), refers to the Company as the legal entity
Company (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to TermsFeed.com website.
</p>
<p>
Collecting and Using Your Personal Data
Types of Data Collected
Personal Data
While using Our Service, We may ask You to provide Us with certain personally
 identifiable information that can be used to contact or identify You. 
 Personally identifiable information may include, but is not limited to:
</p>
<p>
Email address

First name and last name

Phone number

Address, State, Province, ZIP/Postal code, City

Usage Data

Usage Data
Usage Data is collected automatically when using the Service.
</p>

<p>
Cookies or Browser Cookies. A cookie is a small file placed on Your Device. 
You can instruct Your browser to refuse all Cookies or to indicate when a 
Cookie is being sent. However, if You do not accept Cookies, You may not be 
able to use some parts of our Service. Unless you have adjusted Your browser 
setting so that it will refuse Cookies, our Service may use Cookies.</p>
<p>
Web Beacons. Certain sections of our Service and our emails may contain small
 electronic files known as web beacons (also referred to as clear gifs, pixel tags, 
 and single-pixel gifs) that permit the Company, for example, to count users who 
 have visited those pages or opened an email and for other related website statistics 
 (for example, recording the popularity of a certain section and verifying system and 
 server integrity).</p>
 <p>
Cookies can be "Persistent" or "Session" Cookies. Persistent Cookies remain on 
Your personal computer or mobile device when You go offline, while Session Cookies
are deleted as soon as You close Your web browser.

We use both Session and Persistent Cookies for the purposes set out below:

</p>
</div>
